@font-face {
  src: url(fonts/Halva-qZY3r.otf);
  font-family: halva;
}
* {
  margin: 0;
}
body,
html {
  height: 100vh;
}

.bg-container {
  height: 100%;
}

.bg1 {
  /* The image used */
  background-image: url("/img2/Seite\ 1.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg2 {
  /* The image used */
  background-image: url("/img2/Testhintergrund.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rahmen {
  position: fixed;
  bottom: 0%;
  width: 100%;
  z-index: 2;
}

.gradient1 {
  position: sticky;
  top: 0px;

  width: 100%;
  z-index: 1;
}

.gradient-anker {
  position: absolute;
  top: 0;
  height: 140%;
  width: 100%;

  z-index: 1;
}

.falter-kleiner {
  position: sticky;
  top: 20vh;
  left: 50%;
  width: 25%;
  transform: translate(-46%, -57%);
  z-index: 2;
  cursor: default;
}

.nav-symbol {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-0%, -0%);
  width: 3%;
  min-height: 3vh;
  min-width: 3vw;

  z-index: 100;
  cursor: pointer;
  filter: drop-shadow(0 0 0px rgb(255, 255, 255));
  transition: ease-in 0.3s;
}
.nav-symbol:hover {
  filter: drop-shadow(0 0 20px rgb(255, 255, 255));
}

.text-anker1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-45%, -50%);
  height: 20%;
  width: 20%;
  z-index: 100;
  background: aqua;
}

.text-stiller {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-35%, 0%);
  z-index: 100;
  cursor: pointer;
  font-size: 140%;
  font-family: halva;
  color: white;
  font-weight: lighter;
  letter-spacing: 15px;
  text-shadow: 0px 0px 0px white;
  transition: ease-in 0.3s;
}

.text-stiller:hover {
  text-shadow: 50px 0px 50px white, -50px 0px 50px;
}

.überstrich {
  top: 50%;
  left: 50%;
  z-index: 100;
  height: 0.1%;
  width: 12%;
  transform: translate(-35%, 300%);
}

.text-fotos {
  position: absolute;
  left: 50%;
  top: 50%;

  z-index: 200;
  cursor: pointer;
  font-size: 140%;
  font-family: halva;
  color: white;
  font-weight: lighter;
  letter-spacing: 15px;
  text-shadow: 0px 0px 0px white;
  transition: ease-in 0.3s;
}
.text-fotos:hover {
  text-shadow: 50px 0px 50px white, -50px 0px 50px;
}
.text-design {
  position: absolute;
  left: 50%;
  top: 50%;

  z-index: 200;
  cursor: pointer;
  font-size: 140%;
  font-family: halva;
  color: white;
  font-weight: lighter;
  letter-spacing: 15px;
  text-shadow: 0px 0px 0px white;
  transition: ease-in 0.3s;
}
.text-texte {
  position: absolute;
  left: 50%;
  top: 50%;

  z-index: 200;
  cursor: pointer;
  font-size: 140%;
  font-family: halva;
  color: white;
  font-weight: lighter;
  letter-spacing: 15px;
  text-shadow: 0px 0px 0px white;
  transition: ease-in 0.3s;
}
