* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
@font-face {
  src: url(fonts/Halva-qZY3r.otf);
  font-family: halva;
}

html {
  scroll-behavior: smooth;
}

.alles-container {
  height: 100vh;
  width: 100vw;
  max-width: 100%;

  scroll-behavior: smooth;
}
.bg {
  /* The image used */
  background-image: url("/img2/Seite\ 2.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fotos-container {
  position: absolute;
  height: 50vh;
  width: 100vw;
  max-width: 100%;
  background: black;
  top: 25vh;
  z-index: 1;
  border-style: solid;
  border-top: 0.1vw solid white;
  border-bottom: 0.1vw solid white;
  border-color: white;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gradient {
  background-image: url("/img2/Gradient\ gerade.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.footer-container {
  position: absolute;
  height: 100vh;
  width: 100vw;

  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: center;
  align-items: flex-end;
}
.kontakt {
  z-index: 100;
  cursor: pointer;
  font-size: 100%;
  font-family: halva;
  color: rgb(141, 141, 141);
  font-weight: lighter;
  letter-spacing: 10px;
  text-shadow: 0px 0px 0px white;
  transition: ease-in 0.3s;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1.1vh;
}
.überuns {
  z-index: 100;
  cursor: pointer;
  font-size: 100%;
  font-family: halva;
  color: rgb(141, 141, 141);
  font-weight: lighter;
  letter-spacing: 10px;
  text-shadow: 0px 0px 0px white;
  transition: ease-in 0.3s;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1.1vh;
}
.impressum {
  z-index: 100;
  cursor: pointer;
  font-size: 100%;
  font-family: halva;
  color: rgb(141, 141, 141);
  font-weight: lighter;
  letter-spacing: 10px;
  text-shadow: 0px 0px 0px white;
  transition: ease-in 0.3s;
  padding-left: 3%;
  padding-right: 5%;
  padding-bottom: 1.1vh;
}
@media (max-width: 1050px) {
  .überuns {
    font-size: 50%;
    letter-spacing: 5px;
  }
}
@media (max-width: 1050px) {
  .kontakt {
    font-size: 50%;
    letter-spacing: 5px;
  }
}
@media (max-width: 1050px) {
  .impressum {
    font-size: 50%;
    letter-spacing: 5px;
  }
}
@media (max-width: 700px) {
  .überuns {
    font-size: 20%;
  }
}
@media (max-width: 700px) {
  .kontakt {
    font-size: 20%;
  }
}
@media (max-width: 700px) {
  .impressum {
    font-size: 20%;
  }
}

.nav-symbol {
  position: absolute;
  top: 5%;
  left: 48.5%;
  transform: translate(-0%, -0%);
  width: 3vw;
  height: 3vh;
  min-height: 1vh;
  min-width: 3vh;

  z-index: 3;
  cursor: pointer;
  filter: drop-shadow(0 0 0px rgb(255, 255, 255));
  transition: ease-in 0.3s;
}
.nav-symbol:hover {
  filter: drop-shadow(0 0 20px rgb(255, 255, 255));
}
.fotorahmen-container {
  height: 25vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  z-index: 2;
  align-content: flex-end;
  justify-content: center;

  overflow: hidden;
}
.fotorahmen-container2 {
  height: 25vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  z-index: 2;
  align-content: baseline;
  justify-content: center;

  overflow: hidden;
}
.foto1 {
  width: 15vw;
  margin: 1vw;
  z-index: 3;
}
.foto2 {
  width: 15vw;
  margin: 1vw;
  z-index: 3;
}
.foto3 {
  width: 15vw;
  margin: 1vw;
  z-index: 3;
}
.foto4 {
  width: 15vw;
  margin: 1vw;
  z-index: 3;
}
@media (max-width: 1050px) {
  .foto1 {
    width: 30vw;
  }
}
@media (max-width: 700px) {
  .foto1 {
    width: 40vw;
  }
}
@media (max-width: 1050px) {
  .foto2 {
    width: 30vw;
  }
}
@media (max-width: 700px) {
  .foto2 {
    width: 40vw;
  }
}
@media (max-width: 1050px) {
  .foto3 {
    width: 30vw;
  }
}
@media (max-width: 700px) {
  .foto3 {
    width: 40vw;
  }
}
@media (max-width: 1050px) {
  .foto4 {
    width: 30vw;
  }
}
@media (max-width: 700px) {
  .foto4 {
    width: 40vw;
  }
}
.titel {
  z-index: 100;

  font-size: 140%;
  font-family: halva;
  color: white;
  font-weight: lighter;
  letter-spacing: 15px;

  margin-top: 15vh;
  z-index: 3;
}
