* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
@font-face {
  src: url(fonts/Halva-qZY3r.otf);
  font-family: halva;
}

html {
  scroll-behavior: smooth;
}

.alles-container {
  height: 200vh;
  width: 100vw;
  max-width: 100%;

  scroll-behavior: smooth;
}

.rahmen-container {
  position: absolute;
  height: 200vh;
  width: 100vw;
  max-width: 100%;

  z-index: 2;
}

.rahmen {
  position: sticky;
  top: 0;
  width: 100%;
  height: 54%;
}

.bg-container {
  position: absolute;
  height: 200vh;
  width: 100vw;
  max-width: 100%;
  z-index: 1;
}

.bg2 {
  /* The image used */
  background-image: url("/img2/Seite\ 2.png");

  /* Full height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg1 {
  /* The image used */
  background-image: url("/img2/Seite\ 1.png");

  /* Full height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.falter-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 100vh;
  max-width: 100%;
  display: flex;

  justify-content: center;
}

.falter-kleiner {
  position: sticky;
  top: 9vmax;
  align-self: flex-start;
  width: 25%;
  min-width: 15%;
  transform: translate(0%, -57%);
  z-index: 2;
}
@media (max-width: 1050px) {
  .falter-kleiner {
    width: 45%;
    top: 13vmax;
  }
}
@media (max-width: 700px) {
  .falter-kleiner {
    width: 45%;
    top: 9vmax;
  }
}
.text-stiller {
  position: absolute;
  transform: translate(5%, 0);
  text-decoration: none;

  z-index: 100;
  cursor: pointer;
  font-size: 140%;
  font-family: halva;
  color: white;
  font-weight: lighter;
  letter-spacing: 15px;
  text-shadow: 0px 0px 0px white;
  transition: ease-in 0.3s;
}

.text-stiller:hover {
  text-shadow: 50px 0px 50px white, -50px 0px 50px;
}

.text-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  z-index: 2;
}
.text2-container {
  position: absolute;
  height: 25vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 70vw;
  left: 15vw;

  top: 150vh;
  max-width: 100%;
  z-index: 4;
}
@media (max-width: 1050px) {
  .text2-container {
    width: 50vw;
    left: 27vw;
  }
}
@media (max-width: 700px) {
  .text2-container {
    width: 50vw;
    left: 27vw;
  }
}
.fotos {
  z-index: 100;
  cursor: pointer;
  font-size: 140%;
  font-family: halva;
  color: white;
  font-weight: lighter;
  letter-spacing: 15px;
  text-shadow: 0px 0px 0px white;
  transition: ease-in 0.3s;
  padding-right: 5vw;
  padding-left: 5vw;
  text-decoration: none;
}
.fotos:hover {
  text-shadow: 50px 0px 50px white, -50px 0px 50px;
}

.design {
  z-index: 100;
  cursor: pointer;
  font-size: 140%;
  font-family: halva;
  color: white;
  font-weight: lighter;
  letter-spacing: 15px;
  text-shadow: 0px 0px 0px white;
  transition: ease-in 0.3s;
  padding-left: 0vw;
  padding-right: 1vw;
  text-decoration: none;
}
.design:hover {
  text-shadow: 50px 0px 50px white, -50px 0px 50px;
}
@media (max-width: 1050px) {
  .design {
    padding-left: 0vw;
  }
}
@media (max-width: 700px) {
  .design {
    padding-left: 0vw;
    font-size: 120%;
  }
}

@media (max-width: 700px) {
  .texte {
    font-size: 120%;
  }
}
@media (max-width: 700px) {
  .fotos {
    font-size: 120%;
  }
}
.texte {
  z-index: 100;
  cursor: pointer;
  font-size: 140%;
  font-family: halva;
  color: white;
  font-weight: lighter;
  letter-spacing: 15px;
  text-shadow: 0px 0px 0px white;
  transition: ease-in 0.3s;
  padding-right: 1vw;
  padding-left: 1vw;
  text-decoration: none;
}
.texte:hover {
  text-shadow: 50px 0px 50px white, -50px 0px 50px;
}

.gradient-container {
  position: absolute;
  top: 0;
  height: 145%;
  width: 100%;
  z-index: 1;
}
.gradient1 {
  position: sticky;
  top: 0px;
  width: 100%;
  min-height: 50vh;

  z-index: 1;
}
.footer-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 98vh;

  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: center;
  align-items: flex-end;
}
.kontakt {
  z-index: 100;
  cursor: pointer;
  font-size: 80%;
  font-family: halva;
  color: rgb(141, 141, 141);
  font-weight: lighter;
  letter-spacing: 10px;
  text-shadow: 0px 0px 0px white;

  padding-left: 5%;
  padding-right: 7vw;
  padding-bottom: 1.1vh;
}
.端beruns {
  z-index: 100;
  cursor: pointer;
  font-size: 80%;
  font-family: halva;
  color: rgb(141, 141, 141);
  font-weight: lighter;
  letter-spacing: 7px;
  text-shadow: 0px 0px 0px white;

  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1.1vh;
}
.impressum {
  z-index: 100;
  cursor: pointer;
  font-size: 80%;
  font-family: halva;
  color: rgb(141, 141, 141);
  font-weight: lighter;
  letter-spacing: 7px;
  text-shadow: 0px 0px 0px white;

  padding-left: 5vw;
  padding-right: 5%;
  padding-bottom: 1.1vh;
}
@media (max-width: 1050px) {
  .端beruns {
    font-size: 50%;
    letter-spacing: 5px;
  }
}
@media (max-width: 1050px) {
  .kontakt {
    font-size: 50%;
    letter-spacing: 5px;
  }
}
@media (max-width: 1050px) {
  .impressum {
    font-size: 50%;
    letter-spacing: 5px;
  }
}
@media (max-width: 700px) {
  .端beruns {
    font-size: 40%;
  }
}
@media (max-width: 700px) {
  .kontakt {
    font-size: 40%;
  }
}
@media (max-width: 700px) {
  .impressum {
    font-size: 40%;
  }
}
@media (max-width: 500px) {
  .端beruns {
    font-size: 30%;
  }
}
@media (max-width: 500px) {
  .kontakt {
    font-size: 30%;
  }
}
@media (max-width: 500px) {
  .impressum {
    font-size: 30%;
  }
}
.svg {
  position: absolute;
  top: 20%;
  left: 0%;
  height: 20vh;
  animation: fadeOut 1s ease-out forwards;
  animation-delay: 5s;
  z-index: 5;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.svg-container {
  position: absolute;
  background: url(/img2/Seite\ 1.png);
  height: 200vh;
  width: 100vw;
  max-width: 100%;
  z-index: 3;
  animation: fadeOut 2s ease-in forwards;
  animation-delay: 6s;
  pointer-events: none;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 941.4908447265625px;
    stroke-dasharray: 941.4908447265625px;
  }

  100% {
    stroke-dashoffset: 1882.981689453125px;
    stroke-dasharray: 941.4908447265625px;
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 941.4908447265625px;
    stroke-dasharray: 941.4908447265625px;
  }

  100% {
    stroke-dashoffset: 1882.981689453125px;
    stroke-dasharray: 941.4908447265625px;
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-stroke-1 3.5s ease 1s both;
  animation: animate-svg-stroke-1 3.5s ease 1s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 941.4895629882812px;
    stroke-dasharray: 941.4895629882812px;
  }

  100% {
    stroke-dashoffset: 1882.9791259765625px;
    stroke-dasharray: 941.4895629882812px;
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 941.4895629882812px;
    stroke-dasharray: 941.4895629882812px;
  }

  100% {
    stroke-dashoffset: 1882.9791259765625px;
    stroke-dasharray: 941.4895629882812px;
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-stroke-2 3.5s ease 1s both;
  animation: animate-svg-stroke-2 3.5s ease 1s both;
}

@-webkit-keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 164.37460327148438px;
    stroke-dasharray: 164.37460327148438px;
  }

  100% {
    stroke-dashoffset: 328.74920654296875px;
    stroke-dasharray: 164.37460327148438px;
  }
}

@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 164.37460327148438px;
    stroke-dasharray: 164.37460327148438px;
  }

  100% {
    stroke-dashoffset: 328.74920654296875px;
    stroke-dasharray: 164.37460327148438px;
  }
}

.svg-elem-3 {
  -webkit-animation: animate-svg-stroke-3 3.5s ease 1s both;
  animation: animate-svg-stroke-3 3.5s ease 1s both;
}

@-webkit-keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 92.19092559814453px;
    stroke-dasharray: 92.19092559814453px;
  }

  100% {
    stroke-dashoffset: 184.38185119628906px;
    stroke-dasharray: 92.19092559814453px;
  }
}

@keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 92.19092559814453px;
    stroke-dasharray: 92.19092559814453px;
  }

  100% {
    stroke-dashoffset: 184.38185119628906px;
    stroke-dasharray: 92.19092559814453px;
  }
}

.svg-elem-4 {
  -webkit-animation: animate-svg-stroke-4 3.5s ease 1s both;
  animation: animate-svg-stroke-4 3.5s ease 1s both;
}

@-webkit-keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 164.3733367919922px;
    stroke-dasharray: 164.3733367919922px;
  }

  100% {
    stroke-dashoffset: 328.7466735839844px;
    stroke-dasharray: 164.3733367919922px;
  }
}

@keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 164.3733367919922px;
    stroke-dasharray: 164.3733367919922px;
  }

  100% {
    stroke-dashoffset: 328.7466735839844px;
    stroke-dasharray: 164.3733367919922px;
  }
}

.svg-elem-5 {
  -webkit-animation: animate-svg-stroke-5 3.5s ease 1s both;
  animation: animate-svg-stroke-5 3.5s ease 1s both;
}

@-webkit-keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 92.19207000732422px;
    stroke-dasharray: 92.19207000732422px;
  }

  100% {
    stroke-dashoffset: 184.38414001464844px;
    stroke-dasharray: 92.19207000732422px;
  }
}

@keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 92.19207000732422px;
    stroke-dasharray: 92.19207000732422px;
  }

  100% {
    stroke-dashoffset: 184.38414001464844px;
    stroke-dasharray: 92.19207000732422px;
  }
}

.svg-elem-6 {
  -webkit-animation: animate-svg-stroke-6 3.5s ease 1s both;
  animation: animate-svg-stroke-6 3.5s ease 1s both;
}
